<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaGUI.Properties.Settings.BD_VeterinariaConnectionString"
            connectionString="Data Source=DESKTOP-PMMFK0V\SQLEXPRESS;Initial Catalog=BD_Veterinaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>